<div class="tm-slider-box tm-light-bg">
    <section class="tm-slider uk-grid tm-none-padding" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>
        <!-- start full width -->
        <div class="uk-width-1-1">
            <div class="uk-panel top-pageslider CuteChurch">
                <div class="slider-module">
                    <div class="uk-slidenav-position" data-uk-slideshow="{height: &#039;300&#039;, animation: &#039;fade&#039;, duration: &#039;&#039;, autoplay: true, autoplayInterval: &#039;5000&#039;, videoautoplay: false, videomute: false, kenburns: false}">
                        <ul class="uk-slideshow uk-overlay-active">
                            <li class="uk-cover uk-height-viewport  tm-wrap"><img src="./images/bg_page.jpg" alt="bg_page" width="1920" height="360" class="aligncenter size-full" />
                            </li>
                            <li class="uk-cover uk-height-viewport  tm-wrap"><img src="./images/bg_page-01.jpg" alt="bg_page-01" width="1920" height="300" class="aligncenter size-full" />
                            </li>
                            <li class="uk-cover uk-height-viewport  tm-wrap"><img src="./images/bg_page-02.jpg" alt="bg_page-02" width="1920" height="300" class="aligncenter size-full" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end full width -->
    </section>
</div>

<div class="uk-container uk-container-center">
    <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
        <div class="tm-main uk-width-medium-3-4 tm-middle">
            <main class="tm-content">
                <div id="tribe-events-pg-template">
                    <div id="tribe-events" class="tribe-no-js" data-live_ajax="0" data-datepicker_format="0" data-category="">
                        <div id="tribe-events-content-wrapper" class="tribe-clearfix">
                            <!-- Tribe Bar -->
                            <!-- Main Events Content -->
                            <div id="tribe-events-content" class="tribe-events-list">
                                <!-- Notices -->
                                <!-- List Header -->
                                <div id="tribe-events-header" data-title="Upcoming Events | Events | Church" data-startofweek="1" data-view="list">
                                    <!-- Header Navigation -->
                                    <h3 class="tribe-events-visuallyhidden">Events List Navigation</h3>
                                    
                                </div>
                                <!-- #tribe-events-header -->
                                <!-- Events Loop -->
                                <div class="tribe-events-loop vcalendar">
                                    <!-- Event  -->
                                    <div id="post-283" class="hentry vevent type-tribe_events post-283 tribe-clearfix tribe-events-category-classes tribe-events-category-student-ministries tribe-events-venue-193 tribe-events-organizer-212 tribe-events-first">
                                        <!-- Event Cost -->
                                        <div class="tribe-events-event-cost">
                                            <span>50$</span>
                                        </div>
                                        <!-- Event Content -->
                                        <div class="tribe-events-list-event-description tribe-events-content description entry-summary">
                                            <div class="tm-event-list">
                                                <div class="tm-event-list-info">
                                                    <!-- Event Meta -->
                                                    <div class="tribe-events-event-meta vcard">
                                                        <div class="day">
                                                            <span>17</span>
                                                            <p>Feb</p>
                                                        </div>
                                                        <div class="time">
                                                            <p>8:00 am</p>
                                                            <p class="tm-event-venue">Church of Jesus Christ</p>
                                                        </div>
                                                    </div>
                                                    <!-- .tribe-events-event-meta -->
                                                </div>
                                                <!-- Event Image -->
                                                <div class="tribe-events-event-image">
                                                    <a href="event.html"><img width="198" height="330" src="./images/slider-img-01-198x330.jpg" class="attachment-thumbnail wp-post-image" alt="slider-img-01" />
                                                    </a>
                                                </div>
                                                <!-- Event Title -->
                                                <div class="tm-event-list-content-info">
                                                    <h2 class="tribe-events-list-event-title entry-title summary">
														<a class="url" href="event.html" title="Class: Biblical vision of Justice" rel="bookmark">Class: Biblical vision of Justice</a>
													</h2> 
													Luctus nisi, nec sagittis diam molestie eget. Nullam posuere id arcu eu vestibulum. Duis diam tortor, bibendum eleifend eros vel, viverra consectetur nunc &#8230; <a href="event.html" class="read-more" rel="bookmark">Read more &raquo;</a>
                                                    <div class="clr"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .tribe-events-list-event-description -->
                                    </div>
                                    <!-- .hentry .vevent -->
                                    <!-- Event  -->
                                    <div id="post-211" class="hentry vevent type-tribe_events post-211 tribe-clearfix tribe-events-category-classes tribe-events-venue-198 tribe-events-organizer-212">
                                        <!-- Event Cost -->
                                        <div class="tribe-events-event-cost">
                                            <span>Free</span>
                                        </div>
                                        <!-- Event Content -->
                                        <div class="tribe-events-list-event-description tribe-events-content description entry-summary">
                                            <div class="tm-event-list">
                                                <div class="tm-event-list-info">
                                                    <!-- Event Meta -->
                                                    <div class="tribe-events-event-meta vcard">
                                                        <div class="day">
                                                            <span>10</span>
                                                            <p>Mar</p>
                                                        </div>
                                                        <div class="time">
                                                            <p>8:00 am</p>
                                                            <p class="tm-event-venue">Bethlehem Church</p>
                                                        </div>
                                                    </div>
                                                    <!-- .tribe-events-event-meta -->
                                                </div>
                                                <!-- Event Image -->
                                                <div class="tribe-events-event-image">
                                                    <a href="event.html"><img width="198" height="330" src="./images/gall-img-006-198x330.jpg" class="attachment-thumbnail wp-post-image" alt="NEWS" />
                                                    </a>
                                                </div>
                                                <!-- Event Title -->
                                                <div class="tm-event-list-content-info">
                                                    <h2 class="tribe-events-list-event-title entry-title summary">
														<a class="url" href="event.html" title="Art lessons for Kids" rel="bookmark">Art lessons for Kids</a>
													</h2> 
														Nunc rutrum lacus sed sem dictum, sit amet facilisis magna euismod. Nam tincidunt nisi a nisl rhoncus, ac viverra dolor turpis at lacus suscipit &#8230; <a href="event.html" class="read-more" rel="bookmark">Read more &raquo;</a>
                                                    <div class="clr"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .tribe-events-list-event-description -->
                                    </div>
                                    <!-- .hentry .vevent -->
                                    <!-- Event  -->
                                    <div id="post-192" class="hentry vevent type-tribe_events post-192 tribe-clearfix tribe-events-category-student-ministries tribe-events-venue-193 tribe-events-organizer-212">
                                        <!-- Event Cost -->
                                        <div class="tribe-events-event-cost">
                                            <span>Free</span>
                                        </div>
                                        <!-- Event Content -->
                                        <div class="tribe-events-list-event-description tribe-events-content description entry-summary">
                                            <div class="tm-event-list">
                                                <div class="tm-event-list-info">
                                                    <!-- Event Meta -->
                                                    <div class="tribe-events-event-meta vcard">
                                                        <div class="day">
                                                            <span>12</span>
                                                            <p>May</p>
                                                        </div>
                                                        <div class="time">
                                                            <p>8:30 am</p>
                                                            <p class="tm-event-venue">Church of Jesus Christ</p>
                                                        </div>
                                                    </div>
                                                    <!-- .tribe-events-event-meta -->
                                                </div>
                                                <!-- Event Image -->
                                                <div class="tribe-events-event-image">
                                                    <a href="event.html"><img width="198" height="330" src="./images/gall-img-011-198x330.jpg" class="attachment-thumbnail wp-post-image" alt="gall-img-011" />
                                                    </a>
                                                </div>
                                                <!-- Event Title -->
                                                <div class="tm-event-list-content-info">
                                                    <h2 class="tribe-events-list-event-title entry-title summary">
														<a class="url" href="event.html" title="I am going to send you what" rel="bookmark">I am going to send you what</a>
														</h2> 
														In sollicitudin, ipsum nec auctor malesuada, elit turpis fermentum odio, ac vestibulum dui risus non elit. Quisque varius ex arcu, vitae rhoncus justo lacinia ac. Nunc eu bibendum mauri tinc &#8230; <a href="event.html" class="read-more" rel="bookmark">Read more &raquo;</a>
                                                    <div class="clr"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .tribe-events-list-event-description -->
                                    </div>
                                    <!-- .hentry .vevent -->
                                    <!-- Event  -->
                                    <div id="post-281" class="hentry vevent type-tribe_events post-281 tribe-clearfix tribe-events-category-all-church tribe-events-venue-193 tribe-events-organizer-434">
                                        <!-- Event Cost -->
                                        <div class="tribe-events-event-cost">
                                            <span>Free</span>
                                        </div>
                                        <!-- Event Content -->
                                        <div class="tribe-events-list-event-description tribe-events-content description entry-summary">
                                            <div class="tm-event-list">
                                                <div class="tm-event-list-info">
                                                    <!-- Event Meta -->
                                                    <div class="tribe-events-event-meta vcard">
                                                        <div class="day">
                                                            <span>18</span>
                                                            <p>May</p>
                                                        </div>
                                                        <div class="time">
                                                            <p>8:00 am</p>
                                                            <p class="tm-event-venue">Church of Jesus Christ</p>
                                                        </div>
                                                    </div>
                                                    <!-- .tribe-events-event-meta -->
                                                </div>
                                                <!-- Event Image -->
                                                <div class="tribe-events-event-image">
                                                    <a href="event.html"><img width="198" height="330" src="./images/gall-img-0081-198x330.jpg" class="attachment-thumbnail wp-post-image" alt="GALLERY" />
                                                    </a>
                                                </div>
                                                <!-- Event Title -->
                                                <div class="tm-event-list-content-info">
                                                    <h2 class="tribe-events-list-event-title entry-title summary">
														<a class="url" href="event.html" title="All church humn sing" rel="bookmark">All church humn sing</a>
													</h2> 
													Suspendisse eu odio turpis. Proin iaculis metus eu ipsum ullamcorper, vel luctus dui iaculis. Nam sodales finibus diam id scelerisque nullam &#8230; <a href="event.html" class="read-more" rel="bookmark">Read more &raquo;</a>
                                                    <div class="clr"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .tribe-events-list-event-description -->
                                    </div>
                                    <!-- .hentry .vevent -->
                                    <!-- Event  -->
                                    <div id="post-213" class="hentry vevent type-tribe_events post-213 tribe-clearfix tribe-events-category-classes tribe-events-venue-198 tribe-events-organizer-212 tribe-events-last">
                                        <!-- Event Cost -->
                                        <div class="tribe-events-event-cost">
                                            <span>Free</span>
                                        </div>
                                        <!-- Event Content -->
                                        <div class="tribe-events-list-event-description tribe-events-content description entry-summary">
                                            <div class="tm-event-list">
                                                <div class="tm-event-list-info">
                                                    <!-- Event Meta -->
                                                    <div class="tribe-events-event-meta vcard">
                                                        <div class="day">
                                                            <span>14</span>
                                                            <p>Jun</p>
                                                        </div>
                                                        <div class="time">
                                                            <p>8:00 am</p>
                                                            <p class="tm-event-venue">Bethlehem Church</p>
                                                        </div>
                                                    </div>
                                                    <!-- .tribe-events-event-meta -->
                                                </div>
                                                <!-- Event Image -->
                                                <div class="tribe-events-event-image">
                                                    <a href="event.html"><img width="198" height="330" src="./images/gall-img-0041-198x330.jpg" class="attachment-thumbnail wp-post-image" alt="EVENTS" />
                                                    </a>
                                                </div>
                                                <!-- Event Title -->
                                                <div class="tm-event-list-content-info">
                                                    <h2 class="tribe-events-list-event-title entry-title summary">
														<a class="url" href="event.html" title="Holy shift: Strategic think" rel="bookmark">Holy shift: Strategic think</a>
													</h2> 
														Aenean imperdiet luctus nisi, nec sagittis diam molestie id arcu eu vestibulum. Duis diam tortor, bibendum eleifend eros vel, viverra consectetur nunc &#8230; 
														<a href="event.html" class="read-more" rel="bookmark">Read more &raquo;</a>
                                                    <div class="clr"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .tribe-events-list-event-description -->
                                    </div>
                                    <!-- .hentry .vevent -->
                                </div>
                                <!-- .tribe-events-loop -->
                                <!-- List Footer -->
                                <div id="tribe-events-footer">
                                    <!-- Footer Navigation -->
                                    <h3 class="tribe-events-visuallyhidden">Events List Navigation</h3>
                                    <ul class="tribe-events-sub-nav">
                                        <!-- Left Navigation -->
                                        <!-- Right Navigation -->
                                        <li class="tribe-events-nav-next tribe-events-nav-right">
                                            <a href="#" rel="next">Next Events <span>&raquo;</span></a>
                                        </li>
                                        <!-- .tribe-events-nav-right -->
                                    </ul>
                                </div>
                                <!-- #tribe-events-footer -->
                                <a class="tribe-events-ical tribe-events-button" title="Use this to share calendar data with Google Calendar, Apple iCal and other compatible apps" href="#">+ Export Listed Events</a>
                            </div>
                            <!-- #tribe-events-content -->
                            <div class="tribe-clear"></div>
                        </div>
                        <!-- #tribe-events-content-wrapper -->
                        <div class="tribe-events-after-html"></div>
                    </div>
                    <!-- #tribe-events -->
                    <!--This calendar is powered by The Events Calendar.http://eventscalendarpro.com/-->
                </div>
                <!-- #tribe-events-pg-template -->
            </main>
        </div>
        <aside class="tm-sidebar-b uk-width-medium-1-4 tm-middle">
            <div class="uk-panel CuteEventsSidebar">
                <h3 class="uk-panel-title">Upcoming  Events</h3>
                <div class="uk-grid tm-cat-event-sb-widget">
                    <ul>
                        <li class="">
                            <div class="post-date">
                                <div class="day">
                                    <span>12</span>
                                    <p>May</p>
                                </div>
                            </div>
                            <div class="">
                                <h5><a href="#">I am going to send you what</a></h5>
                                <p class="">Church of Jesus Christ</p>
                                <p class="">12 May&#32;8:30 am&#32;-&#32;5:00 pm</p>
                                <div class="duration"></div>
                            </div>
                            <div class="clr"></div>
                        </li>
                        <li class="">
                            <div class="post-date">
                                <div class="day">
                                    <span>15</span>
                                    <p>Jun</p>
                                </div>
                            </div>
                            <div class="">
                                <h5><a href="#">Child Dedications</a></h5>
                                <p class="">Bethlehem Church</p>
                                <p class="">15 Jun&#32;8:00 am&#32;-&#32;5:00 pm</p>
                                <div class="duration"></div>
                            </div>
                            <div class="clr"></div>
                        </li>
                        <li class="">
                            <div class="post-date">
                                <div class="day">
                                    <span>10</span>
                                    <p>Mar</p>
                                </div>
                            </div>
                            <div class="">
                                <h5><a href="#">Art lessons for Kids</a></h5>
                                <p class="">Bethlehem Church</p>
                                <p class="">10 Mar&#32;8:00 am&#32;-&#32;5:00 pm</p>
                                <div class="duration"></div>
                            </div>
                            <div class="clr"></div>
                        </li>
                        <li class="">
                            <div class="post-date">
                                <div class="day">
                                    <span>14</span>
                                    <p>Jun</p>
                                </div>
                            </div>
                            <div class="">
                                <h5><a href="#">Holy shift: Strategic think</a></h5>
                                <p class="">Bethlehem Church</p>
                                <p class="">14 Jun&#32;8:00 am&#32;-&#32;5:00 pm</p>
                                <div class="duration"></div>
                            </div>
                            <div class="clr"></div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="uk-panel CuteEventGallery">
                <h3 class="uk-panel-title">Event Photos</h3>
                <div class="tm-widget-post-image">
                    <a href="gallery.html"><img width="82" height="70" src="./images/gall-img-011-82x70.jpg" class="attachment-post-small-thumbnails wp-post-image" alt="gall-img-011" />
                    </a>
                </div>
                <div class="tm-widget-post-image">
                    <a href="gallery.html"><img width="82" height="70" src="./images/gall-img-0031-82x70.jpg" class="attachment-post-small-thumbnails wp-post-image" alt="NEWS" />
                    </a>
                </div>
                <div class="tm-widget-post-image">
                    <a href="gallery.html"><img width="82" height="70" src="./images/gall-img-006-82x70.jpg" class="attachment-post-small-thumbnails wp-post-image" alt="NEWS" />
                    </a>
                </div>
                <div class="tm-widget-post-image">
                    <a href="gallery.html"><img width="82" height="70" src="./images/gall-img-0041-82x70.jpg" class="attachment-post-small-thumbnails wp-post-image" alt="EVENTS" />
                    </a>
                </div>
                <div class="tm-widget-post-image">
                    <a href="gallery.html"><img width="82" height="70" src="./images/gall-img-0081-82x70.jpg" class="attachment-post-small-thumbnails wp-post-image" alt="GALLERY" />
                    </a>
                </div>
                <div class="tm-widget-post-image">
                    <a href="gallery.html"><img width="82" height="70" src="./images/slider-img-01-82x70.jpg" class="attachment-post-small-thumbnails wp-post-image" alt="slider-img-01" />
                    </a>
                </div>
            </div>
        </aside>
    </div>
</div>

<div class="tm-footer-top-box tm-dark-bg">
    <div class="uk-container uk-container-center">
        <!-- start full width -->
        <section class="tm-footer-top uk-grid tm-medium-padding" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>

            <div class="uk-width-1-1 uk-width-large-1-3">
                <div class="uk-panel widget_text">
                    <h3 class="uk-panel-title">About us</h3>
                    <p>In vitae velit mauris. Donec sodales posuere pretium. Suspendisse dolor tortor, fringilla sed feugiat quis, imperdiet vitae tortor. Suspendisse et magna ligula. Ut nec facilisis lectus. Maecenas venenatis sem aliquam, tempor ante ut, facilisis ... </p>
                </div>
            </div>

            <div class="uk-width-1-1 uk-width-large-1-3">
                <div class="uk-panel widget_text">
                    <h3 class="uk-panel-title">Links</h3>
                    <ul class="footer-links">
                        <li><a href="http://www.facebook.com" target="_blank">In vitae velit mauris</a>
                        </li>
                        <li><a href="http://twitter.com/" target="_blank">Lorem ipsum dolor</a>
                        </li>
                        <li><a href="http://plus.google.com/" target="_blank">Donec vitae tortor</a>
                        </li>
                        <li><a href="http://www.linkedin.com" target="_blank">Donec magna sapien</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="uk-width-1-1 uk-width-large-1-3">
                <div class="uk-panel widget_text">
                    <h3 class="uk-panel-title">Newslatter</h3>
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                    <div class="subscribe">
                        <div role="form" class="wpcf7" id="wpcf7-f405-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="405" />
                                    <input type="hidden" name="_wpcf7_version" value="4.3" />
                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f405-o1" />
                                    <input type="hidden" name="_wpnonce" value="7eb6dd6d20" />
                                </div>
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-grid-width-small-4-6 uk-width-medium-4-6 uk-grid-width-large-4-6">
                                        <span class="wpcf7-form-control-wrap email-639"><input type="email" name="email-639" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your email" /></span>
                                    </div>
                                    <div class="uk-grid-width-small-2-6 uk-width-medium-2-6 uk-grid-width-large-2-6">
                                        <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" />
                                    </div>
                                </div>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end full width -->
</div>

<footer class="tm-footer-box tm-none-bg tm-none-padding">

    <div class="uk-container uk-container-center">
        <div class="tm-footer uk-grid">
            <div class="uk-width-1-1 uk-width-large-1-2">
                <div class="uk-panel tm-p-medium  widget_text">
                    <div class="tm-text-left">
                        © 2015 cutechurch. All rights reserved.
                    </div>
                </div>
            </div>

            <div class="uk-hidden-small uk-hidden-medium uk-width-large-1-2">
                <div class="uk-panel uk-hidden-medium uk-hidden-small tm-p-medium  widget_text">
                    <div class="tm-text-right">
                        <ul class="social-icons">
                            <li><a href="http://www.facebook.com" target="_blank"><i class="uk-icon-facebook-f"></i></a>
                            </li>
                            <li><a href="http://twitter.com/" target="_blank"><i class="uk-icon-twitter"></i></a>
                            </li>
                            <li><a href="http://plus.google.com/" target="_blank"><i class="uk-icon-google-plus"></i></a>
                            </li>
                            <li><a href="http://www.linkedin.com" target="_blank"><i class="uk-icon-linkedin"></i></a>
                            </li>
                            <li><a href="http://www.youtube.com/" target="_blank"><i class="uk-icon-youtube"></i></a>
                            </li>
                            <li><a href="http://vk.com/" target="_blank"><i class="uk-icon-vk"></i></a>
                            </li>
                            <li><a href="http://instagram.com/" target="_blank"><i class="uk-icon-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end full width -->
</footer>

<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <div class="uk-panel widget_search">
            <form class="uk-search" id="search-3" method="get" role="search">
                <input class="uk-search-field" type="text" value="" name="s" placeholder="search...">
            </form>
        </div>
        <ul class="uk-nav uk-nav-offcanvas">
            <li class="uk-parent"><a href="index.html" class="">HOME</a>
                <ul class="uk-nav-sub">
                    <li><a href="index-home2.html" class="">HOME 2</a>
                    </li>
                    <li><a href="index-home3.html" class="">HOME 3</a>
                    </li>
                    <li><a href="../chocolate/index.html" class="">CHOCOLATE STYLE</a>
                    </li>
                    <li><a href="../blue/index.html" class="">GREEN STYLE</a>
                    </li>
                    <li><a href="../green/index.html" class="">BLUE STYLE</a>
                    </li>
                </ul>
            </li>
            <li class="uk-parent"><a href="about-us.html" class="">ABOUT US</a>
                <ul class="uk-nav-sub">
                    <li><a href="layouts.html" class="">LAYOUTS</a>
                    </li>
                    <li><a href="offline.html" class="">MAINTENANCE</a>
                    </li>
                    <li><a href="coming.html" class="">COMING SOON</a>
                    </li>
                    <li><a href="error.html" class="">ERROR PAGE</a>
                    </li>
                    <li><a href="single-article.html" class="">SINGLE ARTICLE</a>
                    </li>
                    <li><a href="left-content.html" class="">LEFT + CONTENT</a>
                    </li>
                    <li><a href="left-right-content.html" class="">LEFT + RIGHT + CONTENT</a>
                    </li>
                    <li><a href="left-content-right.html" class="">LEFT + CONTENT + RIGHT</a>
                    </li>
                    <li><a href="content-right.html" class="">CONTENT + RIGHT</a>
                    </li>
                    <li><a href="content-left-right.html" class="">CONTENT + LEFT + RIGHT</a>
                    </li>
                </ul>
            </li>
            <li class="uk-parent"><a href="event.html" class="">EVENT</a>
                <ul class="uk-nav-sub">
                    <li><a href="event-list.html" class="">EVENT LIST</a>
                    </li>
                </ul>
            </li>
            <li><a href="sermons.html" class="">SERMONS</a>
            </li>
            <li class="uk-parent"><a href="blog.html" class="">BLOG</a>
                <ul class="uk-nav-sub">
                    <li><a href="our-pastors.html" class="">OUR PASTORS</a>
                    </li>
                    <li><a href="testimonials.html" class="">TESTIMONIALS</a>
                    </li>
                    <li><a href="faq.html" class="">HELP</a>
                    </li>
                </ul>
            </li>
            <li><a href="gallery.html" class="">GALLERY</a>
            </li>
            <li><a href="donations.html" class="">DONATIONS</a>
            </li>
            <li><a href="shop.html" class="">SHOP</a>
            </li>
            <li><a href="contact-us.html" class="">CONTACT US</a>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/uikit.js"></script>
<script type="text/javascript" src="js/components/slider.js"></script>
<script type="text/javascript" src="js/components/slideset.js"></script>
<script type="text/javascript" src="js/components/slideshow.js"></script>
<script type="text/javascript" src="js/components/slideshow-fx.js"></script>
<script type="text/javascript" src="js/components/sticky.js"></script>
<script type="text/javascript" src="js/components/lightbox.js"></script>
<script type="text/javascript" src="js/components/accordion.js"></script>
<script type="text/javascript" src="js/countdown.js"></script>
<script type="text/javascript" src="js/components/grid.js"></script>
<script type="text/javascript" src="js/components/sortable.js"></script>
</body>
</html>